body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: none; /* Set the background of the whole page to transparent */
    margin: 0; /* Remove any default margin or padding */
    padding: 0;
}

html, body, .tracker {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent; /* Set the background of the tracker to transparent */
}

.progress-container {
    background: transparent; /* Set the background of the container to transparent */
    padding: 10px;
    border-radius: 10px;
}

.progress-bar {
    background-color: #4caf50;
    width: 0%;
    height: 30px;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
}

.count {
    font-size: 20px;
}

.edit-input {
    width: 50px;
    text-align: center;
}
